[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyqt6 = "*"
pyjoystick = "*"
pynput = "*"
keyboard = "*"
pyuac = "*"
pywin32 = "*"

[dev-packages]

[requires]
python_version = "3.11"
