autopep8==2.0.2
decorator==5.1.1
keyboard==0.13.5
mouse==0.7.1
pycodestyle==2.10.0
pyjoystick==1.2.4
PyQt6==6.5.0
PyQt6-Qt6==6.5.0
PyQt6-sip==13.5.0
PySDL2==0.9.15
resource-man==2.2.8
six==1.16.0
tee==0.0.3
